*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #f3f4f6;
    color: #1f2937;
    -webkit-font-smoothing: antialiased;

}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}